.quick-card{

    margin-top:25px;

    background:#fff;

    border-radius:18px;

    padding:20px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.quick-card h3{

    margin-bottom:20px;

    font-size:20px;

}

.quick-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:18px;

}

.quick-btn{

    border:none;

    background:#F8FAFC;

    border-radius:14px;

    padding:20px;

    cursor:pointer;

    transition:.3s;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:12px;

}

.quick-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 10px 20px rgba(0,0,0,.08);

}

.quick-icon{

    width:55px;

    height:55px;

    border-radius:50%;

    color:#fff;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:22px;

}

.quick-btn span{

    font-weight:600;

}

@media(max-width:992px){

.quick-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:576px){

.quick-grid{

grid-template-columns:1fr;

}

}